
<div class="container">
      <div class="row">

<img class="index-gif" src="https://media.giphy.com/media/K1eZGh24LMfo4/giphy.gif">

      </div> <!-- End row -->
    </div><!-- end container -->


