<h2> Pink </h2>

<ul>
  <% colorsForView.forEach( (oneColor) => { %>

<% if (oneColor.category === "pink") { %>
<div class="swatch">
    <div class="box" style="background-color: <%= oneColor.hex %>"></div>
    <div class="box2"> <div class="panel panel-default"><div class="panel-body">
        <%- oneColor.keyword  %> &nbsp; <%-  oneColor.hex %> &nbsp; <%- oneColor.category %>
      </div></div></div>
</div>
<% } %>
<%  }) %>

</ul>