$swatch-width:  250px;

.swatch {
  border: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 3px;
  display: inline-block;
  margin: 5%;

      .box {
        width: $swatch-width;
        height: 100px;
      }
      .box2 {
        width:  $swatch-width;
        height: 50px;
      }
}


.topbar {
  background-color: #70A1D7;
}
.a-link {
  color:  #F7F48B !important;
}
.custom-color{
  background-color: #F47C7C;
}

.index-gif {
  display: block;
  margin: 0 auto;
}